*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(37, 36, 36);
    background-color: rgb(203, 234, 236);
    height: 100%;
     display: flex;
    justify-content: center;
   
}

.container{
    width: 80%;
    border: 2px solid rgb(227, 14, 49);
    margin: 0px;
    display: flex;
    flex-direction: column;
}

header{
    border:  2px solid rgb(227, 14, 49);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
 }

  header img{
    clip-path: circle(40%);
    
  }
 header h1{
  flex: 1;
  text-align: center;
  margin: 0px;
 }
 h2{
    flex: 1;
  text-align: center;
  margin: 0px;
 }
 h3{
    flex: 1;
    text-align: center;
    margin: 0px;
 }

 nav{
    border: 2px solid rgb(227, 14, 49);
    line-height: 70px;
    
 }

 nav ul{
    display: flex;
    justify-content: space-around;    
    list-style-type: none;
 }

nav ul li a{
    text-decoration: none;
    color: black;
}

nav ul li a:hover{
    text-decoration: none;
    color: white;
}

.portada{
    height: 400px;
    border: 2px solid #e30e31;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
   
}

button{
    background-color:#e30e31 ;
    padding: 10px 40px;
   border-radius: 10px;
   border: none;
   margin-top: 20px;
   border: 2px solid white;
}

.tarjetas{
   border: 2px solid #e30e31; 
}

.tarjetas article{
    margin: 20px 60px;
}

.tarjetas article h2{
    margin-bottom: 10px;
    text-align: center;
}
.tarjetas article p{
    text-align: justify;
}

.cards{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin:0px 5px;   
    gap: 10px;
}

.card1, .card2, .card3, .card4{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-top: 10px;
}

 footer{
    line-height: 50px;
    border: 2px solid #e30e31;
  }

  footer p{
    text-align: center;
  }